<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "nu.somfan.nzi"
        versionCode="10"
        version   = "1.0.0">

    <gap:platform name="android" />
    <!-- versionCode is optional and Android only -->

    <name>NZI test</name>

    <description>
        Short description
    </description>

    <author href="https://somfan.nu" email="emillindau@gmail.com">
        Emil Lindau
    </author>

</widget>