<div class="col-lg-4">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h2>{{ name }}</h2>
		</div>
		<div class="panel-body">
			<p>Number of non-zero days so far: {{ days }}</p>

			<div class="addDay">
				<div class='form-group'>
					<div class="col-lg-10">
						<input type='text' class='form-control input' id='descr' name='descr' placeholder="Description">
					</div>
  					<span class='day-help-block hidden'></span>
				</div>

				<div class="form-group">
					<div class="col-lg-10">
						<button type="submit" id="addDayButton" class="btn btn-success">Add descr</button>
					</div>
				</div>
			</div>

			<button class="btn btn-success" id="add-day">+ Add day</button>
			<a href="#edit/{{ goalId }}" class="btn btn-primary">- Edit</a>
			<button class="btn btn-danger" id="delete">x Delete</button>
		</div>
  	</div>
</div>