<div class="row">
	<div class="col-lg-12">
		<div class="page-header"><h1>Index</h1></div>
  	</div>
</div>

<div class="well">

	<div class="row">
			<div class="col-lg-6">
			<h2>Add goal</h2>
			<div class="addGoal"></div>
			</div>
			<div class="col-lg-4 col-lg-offset-1">
			<h2>About</h2>
				<p>The sensational Non Zero Initiative</p>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
				<h1 id="forms">Goals</h1>
				<h3 class="text-muted"> There are {{ count }} goals</h3>
			</div>
		</div>
	</div>

  	<div class="row goals">
</div>